.contacts {
  width: 100vw;
  gap: 30px;
  position: absolute;
  bottom: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn_telegram {
  background: #2ea0d6;
}
.btn_mobile {
  background: #32a350;
}

.btn_whatsapp {
  background: #25d366;
}

.btn_pulse {
  color: white;
  position: relative;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 0;
  padding: 35px;
  text-decoration: none;
  border-radius: 50%;
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@media screen and (max-width: 500px) {
  .contacts {
    bottom: 40px;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
  }
  80% {
    box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
  }
}
