@import "https://fonts.googleapis.com/css?family=Russo+One";
.title_container {
  position: absolute;
  height: 100vh;
  z-index: 99999999999999999;
  top: 20px;
  left: 10px;
}

h2.funny-title {
  border-top: 5px solid #e0dbde;
  border-bottom: 5px solid #e0dbde;
  font-size: 50px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-family: "Russo One", sans-serif;
  font-weight: 900;
  letter-spacing: 8px;
}
@-webkit-keyframes move-background {
  0% {
    background-position: -300px 0;
  }
  100% {
    background-position: 300px -300px;
  }
}
@-moz-keyframes move-background {
  0% {
    background-position: -300px 0;
  }
  100% {
    background-position: 300px -300px;
  }
}
@keyframes move-background {
  0% {
    background-position: -300px 0;
  }
  100% {
    background-position: 300px -300px;
  }
}
.section-title {
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  animation-play-state: running;
  color: transparent;
  background: url(https://obninsksite.ru/assets/theme/images/blog/square.svg)
    no-repeat #0c0c0c;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation: move-background 20s infinite linear alternate;
  -moz-animation: move-background 20s infinite linear alternate;
  animation: move-background 20s infinite linear alternate;
}
