@import url("./scroll.css");
@import url("./buttons.css");
@import url("./header.css");

.content {
  background-color: white;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #f2f2f2;
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
