@import url("./scroll.css");
@import url("./buttons.css");

.content {
  background-color: white;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #f2f2f2;
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.page {
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
